body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: #493657;
}

#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-right: 150px;
}

.header_text {
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#no_header_text {
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 1rem 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
}

.btn {
    background-color: #CE7DA5;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #975576;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}